<a href="https://colab.research.google.com/github/shrek0610/Shrirag-s-Interns/blob/main/Day2Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 
str1="Shrirag Nair"
str2="Hello"
print(str2)
print(str1)
print(str2+" " +str1) #concate
print(len(str1)) #length function
print(str1.upper()) #upper case function
print(str1.swapcase()) #swapcase function
print(str1.isalpha()) #isalpha function
print(str1.find('l'))

Hello
Shrirag Nair
Hello Shrirag Nair
12
SHRIRAG NAIR
sHRIRAG nAIR
False
-1

In [ ]:
 
list1=[72,36,25,83,20]
list2=["hii","Hello","hey"]
List3=[72,36,25,83,20]
print(list1)
print(list2)
print(type(list1))
print(list1.append("you"))
print(list1)
print(max(List3),min(List3))
print(len(list1))
print(list1.index(36))
print(tuple(list1))

[72, 36, 25, 83, 20]
['hii', 'Hello', 'hey']
<class 'list'>
None
[72, 36, 25, 83, 20, 'you']
83 20
6
1
(72, 36, 25, 83, 20, 'you')

In [ ]:
 
self_dict={"name":"Shrirag", "middle":"Shreedharan","last": "Nair"}
print(self_dict)
print(self_dict.get("name"))   #get()
print(self_dict.get("middle"))
print(self_dict.get("last"))
print(self_dict.items())  #items()
self_dict.update({"age":19}) #update()
print(self_dict)
x=self_dict.values() #values()
print(x)
y=self_dict.popitem()
print(y)
print(self_dict)

{'name': 'Shrirag', 'middle': 'Shreedharan', 'last': 'Nair'}
Shrirag
Shreedharan
Nair
dict_items([('name', 'Shrirag'), ('middle', 'Shreedharan'), ('last', 'Nair')])
{'name': 'Shrirag', 'middle': 'Shreedharan', 'last': 'Nair', 'age': 19}
dict_values(['Shrirag', 'Shreedharan', 'Nair', 19])
('age', 19)
{'name': 'Shrirag', 'middle': 'Shreedharan', 'last': 'Nair'}